<div class="wrapper">
 <header>Progress.up file upload </header>
 <div class='text-center'>
   <button (click)="reloadPage()" class="clearButton" role="button">Clear all</button>
 </div>
 <form action="#">
    <button class='btn btn-success' (click)="fileInput.click()" >
	Browse files to upload
    </button>
      <input type="file" #fileInput name="myFiles" (change)="onFileUpload($event)" multiple hidden />
	<span class="fas fa-8x fa-cloud-upload-alt"></span>
 </form>
 <section class='progress-area' >

   <div *ngFor="let file of uploadFiles">
    <li class="row">
        <span class="fas fa-file-alt"></span>
          <div class="content">
                <div class="details">
                   <span class="name">{{file.name}} </span>
                    <span class="percent">{{progress[file.name]}} %</span>
                 </div>
                 <div class="progress-bar">
                    <div class="progress" style="width: {{progress[file.name]}}%">
		    </div>
                 </div>
                 <span class="size">{{file.size}} Bytes</span>
           </div>
    </li>
    </div>
</section>

</div>

