<div *ngIf="currentFile" class="progress">
  
  <div
    class="progress-area "
    role="progressbar"
    attr.aria-valuenow="{{ progress }}"
    aria-valuemin="0"
    aria-valuemax="100"
    [ngStyle]="{ width: progress + '%' }"
  >
    {{ progress }}%
  </div>

 <section class="uploaded-area"></section>
</div>

<label class="btn btn-default">
  <input type="file" (change)="selectFile($event)" />
</label>

<button class="btn btn-success" [disabled]="!selectedFiles" (click)="upload()">
  Upload
</button>

<div class="alert alert-light" role="alert">{{ message }}</div>

