@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

body{
  width: 900px;
  margin: 0 auto;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

::selection{
  color: #fff;
  background: #6990F2;
}

.wrapper{
  width: 600px;
  background: #fff;
  border-radius: 5px;
  padding: 30px;
}

.wrapper header{
  font-size: 27px;
  font-weight: 600;
  text-align: center;
}


.wrapper form{
  height: 260px;
  display: flex;
  cursor: pointer;
  margin: 30px 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 5px;
  border: 2px dashed #6990F2;
}

form :where(i, p){
  color: #6990F2;
}

form i{
  font-size: 50px;
}

form p{
  margin-top: 15px;
  font-size: 16px;
}

section .row{
  margin-bottom: 10px;
  background: #E9F0FF;
  list-style: none;
  padding: 15px 20px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

section .row i{
  color: #6990F2;
  font-size: 30px;
}

section .details span{
  font-size: 14px;
}

.progressArea .row .content{
  width: 100%;
  margin-left: 15px;
}

.progressArea .details{
  width: 450px;
  display: flex;
  align-items: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 7px;
  justify-content: space-between;
}

.progressArea .content .progress-bar{
  height: 20px;
  width: 450px;
  margin-bottom: 4px;
  background: #fff;
  border-radius: 5px;
}

.content .progress-bar .progress{
  height: 100%;
  width: 0%;
  background: red;
  border-radius: inherit;
}

.uploadedArea{
  max-height: 232px;
  overflow-y: scroll;
}

.uploadedArea.onprogress{
  max-height: 150px;
}

.uploadedArea::-webkit-scrollbar{
  width: 0px;
}

.uploadedArea .row .content{
  display: flex;
  align-items: center;
}

.uploadedArea .row .details{
  display: flex;
  margin-left: 15px;
  flex-direction: column;
}

.uploadedArea .row .details .size{
  color: #404040;
  font-size: 11px;
}

.uploadedArea i.fa-check{
  font-size: 16px;
}

.clearButton {
	line-height: 1.1;
	padding: 0.25em 0.75em;
	min-width: 10ch;
	min-height: 44px;
	font-size: 16px;
	background-color: blue;
	color: #fff;
       	border-radius: 8px;
       	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);
	cursor: pointer;
}

.text-center {
	text-align: center;
}
